{% extends "magasin/base.html" %}

{% block main-content %}
<section >
  <div class="row">
    <h2 class="section-heading">Our Services</h2>
  </div>
  <div class="row" style="padding-bottom: 120px;">
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fa-sharp fa-solid fa-bag-shopping"></i>
        </div>
        <h3>Online Shopping</h3>
        <p>
            Creating a logo is a process of designing a visual representation of a brand's identity, which involves research, ideation, sketching, and refining until it's visually appealing.</p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fa-regular fa-credit-card"></i>
        </div>
        <h3>Payed with Cart</h3>
        <p>
            Creating a 3D design involves using specialized software
             to bring a concept to life with depth and perspective. It can be used for architectural, product, or character design.
        </p>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="icon-wrapper">
          <i class="fa-solid fa-truck"></i>      </div>
        <h3>Livrasion</h3>
        <p>
            Creating a video involves scripting, planning, filming, and editing footage into a cohesive story. It can be used for entertainment,
             marketing, education, or communication purposes.
        </p>
      </div>
    </div>
    
  </div>
</section>
<br><br>
{% endblock main-content %}