{% extends "magasin/base.html" %}
{% block main-content %}

<div class="container shadow"  style=" width: 70%;  margin-bottom: 200px; margin-top: 10px; background-color: white; padding: 30px;">
    <div class="row my-4">
        <div class="col" style="margin-top: -160px; margin-left: 130px; ">
            <h3  style="margin-left: 160px; margin-right: 120px;">Login</h3>
            <br>
            <form action="" method="post" style="margin-left: 14    0px;"  novalidate class="p-6">
                {% csrf_token %}
                {% for fm in form %}
                <div style="padding-top: 39px;">
                        {{ fm.label_tag }}
                        {{ fm }}
                        <small class="text-danger">{{ fm.errors|striptags }}</small>
                {% endfor %}
                <br><br>
                <small><a href="#" style="margin-left: 140px;">Forget Password ?</a></small>
                <br>
                <input type="submit" value="Login" style="margin-left: 170px; margin-bottom: 10px;" class="btn btn-primary mt-4"> <br>
                <div class="text-center text-primary fw-bold">
                    <small style="margin-left: 50px;">New User ? <a href="{% url 'register' %}" class="text-danger">Create an Account</a></small>
                </div>
                {% if form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{ form.non_field_errors|striptags }}</p>
                {% endif %}
            </div>
            </form>
        </div>
    </div>
</div>


{% endblock main-content %}